{% load tailwind_tags %}
<!DOCTYPE html >
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    {% tailwind_css %}
</head>
<body>

    {% block content %}
    <div  class="bg-gray-100 shadow-md rounded px-4 pt-6 pb-8">
        <form method="post">
            
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="submit" >Iniciar Sesión</button>
            <input type="hidden" name="next" value="{{ next }}">
                
        </form>
    </div>

    {% endblock  %}
</body>
</html>