{% extends './base.html' %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Dispositivos{% endblock  %}
    {% tailwind_css %}
</head>
<body>
{% block content %}

<form method="GET" action="{% url 'dispositivos' %}">
    <input type="text" name="q" placeholder="Buscar dispositivo">
    <input type="submit" value="Buscar">
</form>

    <div class="fl">
        <div>
            <table>
                <tr class="w-full">
                    <th>Serial</th>
                    <th>Tipo de dispositivo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Activo viejo</th>
                    <th>Activo nuevo</th>
                    <th>Ubicación</th>
                </tr>
                {% for dispositivo in dispositivos %}
                <tr>
                    <td>{{ dispositivo.serial }}</td>
                    <td>{{ dispositivo.tipo_dispositivo }}</td>
                    <td>{{ dispositivo.marca }}</td>
                    <td>{{ dispositivo.modelo }}</td>
                    <td>{{ dispositivo.activo_viejo }}</td>
                    <td>{{ dispositivo.activo_nuevo }}</td>
                    <td>{{ dispositivo.ubicacion }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
</body>
</html>
